<h1><%= @registered_application.name %></h1>

<p><%= @registered_application.url %></p>
<p>User: <%= @registered_application.user.id %></p>
<p>User: <%= current_user.id %></p>


<%# @events.each_with_index do |event, i| %>
<!-- <p><%#= i + 1 %>. <%#= event[0] %> - <%#= event[1].count - 1 %></p> -->
<%# end %>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= pie_chart @registered_application.events.group(:name).count %>

<%#= line_chart @application.events.group_by_day(:created_at).count %>

<%= link_to "Edit", edit_registered_application_path, class: 'btn btn-success'  %>
<%= link_to "Delete", registered_application_path, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this application?'}  %>