<%= form_for [@application] do |f| %>
   
  <% if application.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(application.errors.count, "error") %>.</h4>
      <ul>
        <% application.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <%= form_group_tag(application.errors[:name]) do %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter application name" %>
  <% end %>

  <%= form_group_tag(application.errors[:url]) do %>
    <%= f.label :url %>
    <%= f.text_field :url, class: 'form-control', placeholder: "Enter application url" %>
  <% end %>
  
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
 
 <% end %>