<h1>User#show</h1>
<p><%= @user.name %></p>

<p><%= link_to "New Application", new_registered_application_path %></p>

<% @user.registered_applications.each do |registered_application| %>
  <%= link_to registered_application do %>
    <p><%= registered_application.name %></p>
    <p><%= registered_application.url %></p>
    <p>User:<%= registered_application.user.id %></p>
    <br>
  <% end %>
<% end %>